<h1>Invoice Calculator</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price (incl. VAT)</th>
      <th>Price (excl. VAT)</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr id="invoice-lines" *ngFor='let element of invoice?.invoiceLines;'>
        <td>{{element.product}}</td>
        <td>{{element.priceInclusiveVat.toFixed(2)}}</td>
        <td>{{element.priceExclusiveVat.toFixed(2)}}</td>
        <td>&nbsp;</td>
      </tr>
    <tr>
      <td><b>Total</b></td>
      <td id="totalPriceInclusiveVat">{{invoice?.totalPriceInclusiveVat.toFixed(2)}}</td>
      <td id="totalPriceExclusiveVat">{{invoice?.totalPriceExclusiveVat.toFixed(2)}}</td>
    </tr>
    <tr>
      <td>
        <input id="product-input" type="text" [(ngModel)]='product' />
        <select id="vat-category-input" [(ngModel)]='vatCategoryString'>
          <option>Food</option>
          <option>Drinks</option>
        </select>
      </td>
      <td>
        <input id="priceInclusiveVat-input" type="number" [(ngModel)]='priceInclusiveVat' />
      </td>
      <td>&nbsp;</td>
      <td>
        <button id="add-button" [disabled]="priceInclusiveVat == 0|| product.length == 0"
          (click)="addInvoice()">Add</button>
      </td>
    </tr>
  </tbody>
</table>